#admin-product-page {
    .product-detail {
        color: #9c27b0;
        vertical-align: middle;
    }

    .add-product-container {
        .locale {
            .col-md-3 {
                text-align: center;
                vertical-align: middle;
                padding: 0.5rem 0;
            }
        }

        .form-group {
            textarea {
                border: 1px solid #d2d2d2;
                background-image: none;
                padding: 5px;

                &:hover {
                    background-image: none;
                }
            }

            .label-description {
                padding-left: 0;
            }

            &.state {
                label {
                    padding: 0.5rem 0;
                }
            }
        }

        div.is-focused {
            textarea {
                background-image: none;
            }
        }

        .btn-back {
            margin-right: 10px;
        }
    }
}