.so-widget-sow-image-default-47923b7644a8 .sow-image-container {
  text-align: left;
}
.so-widget-sow-image-default-47923b7644a8 .sow-image-container .so-widget-image {
  display: inline-block;
  
  width: 100%;
  
}