<%- include('../../share_customer/header'); %>
<%- include('../../share_customer/navbar'); %>
<div class="content" >
    <div class="container-fluid" >
        <div class="row"id="my-product-page">
        </div>
    </div>
</div>
<script>
    var pageContext = {
        "page" : "<%- menu_active %>"
    }
</script>

<%- include('../../share_customer/footer'); %>