<%- include('../share_customer/header'); %>
<%- include('../share_customer/navbar'); %>
<div class="content" >
    <div class="container-fluid" id="calculation_hashing"></div>
</div>
<script>
    var pageContext = {
        "page" : "<%- menu_active %>",
        "totalHs" : 10
    }
</script>
<script src="/reactjs/bundle.js"></script>
<%- include('../share_customer/footer'); %>