<%- include('../global/header_UI'); %>
<div id="change-password"></div>

<script>
    var pageContext = {
        "page" : "changepassword"
    }
</script>
<script src="/reactjs/bundle.js"></script>
<%- include('../global/footer_UI'); %>
