<div class="modal fade" id="forgot-password" tabindex="-1" role="dialog" aria-hidden="true"></div>
<script>
    var pageContext = {
        "page" : "forgotpassword"
    }
</script>
<script src="/reactjs/bundle.js"></script>