<%- include('../../share_customer/login/header', {"title" : title}); %>
<div id="create-user" class="container-fluid register-account-container"></div>
<script>
    var pageContext = {
        "page" : "createuser"
    }
</script>
<script src="/reactjs/admin.js"></script>
<%- include('../../global/footer_UI'); %>
