<%- include('../../share_admin/header'); %>
<%- include('../../share_customer/navbar'); %>
<div id="create-user" class="container-fluid register-account-container"></div>
<script>
    var pageContext = {
        "page" : "<%- menu_active %>",
    }
</script>
<script src="/reactjs/admin.js"></script>
<%- include('../../global/footer_UI'); %>
