
<%- include('../../share_customer/login/header', {"title" : title}); %>
    <div class="container-fluid customer-login" id="login-admin"></div>

    <script>
        var pageContext = {
            "page" : "login"
        }
    </script>
    <script src="/reactjs/admin.js"></script>
<%- include('../../global/footer_UI'); %>
