<%- include('../share_customer/login/header', {"title" : title}); %>
<div id="register-user" class="container-fluid register-account-container"></div>
<script>
    var pageContext = {
        "page" : "register"
    }
</script>
<script src="/reactjs/bundle.js"></script>
<%- include('../global/footer_UI'); %>
