#calculation_hashing {
    .coin-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .table-responsive {
        .success {
            background-color: #dff0d8;
        }
    }
}