.update-product-container {
    select.form-control {
        background: none;
        border: 1px solid black;
        padding: 10px;
    }
}

.payment-detail-content {
    .symbol-currency {
        &:before {
            content: "\0024"
        }
    }
}
