.ethereum-mining-row-1 {
    .textwidget {
        font-size: 16px;

        .title {
            color: #bdb76b;
            font-size: 40px;
            font-weight: 700;

            @media screen and (min-width: 1024px){
                width: 40%;
            }
        }

        .content {
            font-size: 16px;

            @media screen and (min-width: 1024px){
                width: 35%;
            }

            .highlight {
                color: #bf3654;
                font-weight: bold;
                text-transform: uppercase;
            }

            p {
                margin-bottom: 10px;
            }
        }
    }
}

.etherum-mining-hashrate-row {
    .hashrate_container {

        .col-md-4 {
            background-color: #e5e5e5;
        }

        .title {
            font-size: 24px;
            font-weight: bold;
        }

        .hashrate_value {
            border-color: #bf3654;
            color: #bf3654;
            font-weight: bold;
            text-transform: uppercase;
        }

        .hashrate_price {
            font-size: 20px;
            font-weight: bold;
            margin-top: 20px;
            text-transform: uppercase;
        }

        .hashrate_content {
            color: #808080;
            font-size:16px;
            line-height:30px;
            margin-bottom: 15px;
        }

        .number {
            margin: 0 5px;
        }

        
        del {
            color: #e10531;
        }

        .product-content {
            background-color: #e5e5e5;
            margin: 10px 0;
            padding: 15px;

            .period-label {
                color: #bf3654;
                font-weight: bold;
            }

            .month-text {
                margin-left: 2px;
            }
        }
    }
}

.button_container {
    margin-top: 40px;
}

.highlight_button {
    border-radius: 30px;
    background-color: #bf3654;
    color: white;
    font-weight: bold;
    padding: 15px;
    margin-top: 10px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.highlight_button:hover {
    background-color: #bdb76b;
}

.highlight {
    border-color: #bf3654;
    color: #bf3654;
}

.small-text {
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    margin-bottom: 0;
}

#mainnav {
    .active {
        a {
            color: #bf3654;
        }
    }
}

@media only screen and (max-width: 1024px) {
    .admin-bar {
        .site-header {
            padding: 0;

            &.float-header {
                padding: 0;
                top: 0;
            }
        }
    }
}
